.MATLABConnector/
.VFIOinput/
.Xauthority
.android/
.bash_history
.bash_logout
.cache/
.cargo/
.config/QtProject.conf
.config/VSCodium/
.config/Altus/
.config/appimagelauncher.cfg
.config/autostart/
.config/borg/
.config/balena-etcher-electron/
.config/calibre/
.config/cef_user_data/
.config/chromium/
.config/coc/
.config/configstore/
.config/dconf/
.config/discover_overlay/
.config/Electron
.config/Code - OSS
.config/github-copilot/
.config/gtk-*
.config/kdeconnect/
.config/keepassxc/
.config/Kvantum/
.config/libfm/
.config/libreoffice/
.config/menus/
.config/nvim/.netrwhist
.config/nvim-bak/
.config/onedrive/
.config/ookla/
.config/oomox/
.config/pavucontrol.ini
.config/pcmanfm-qt/
.config/pipewire-media-session/
.config/pulse/
.config/qt5ct/
.config/ranger/plugins/
.config/redshift/
.config/systemd/
.config/teams-for-linux/
.config/thefuck/
.config/torbrowser/
.config/transmission/
.config/unity3d/
.config/vlc/
.config/whatsdesk/
.config/xarchiver/
.config/xfce4/
.config/xpad/
.dotnet/
.git-credentials
.gitconfig
.gnome/
.gnupg/
.gtk-bookmarks
.gtkrc-2.0
.icons/
.java/
.lesshst

.local/*
!.local/share/nvim/site/autoload/plug.vim

.matlab/
.mozilla/
.nimble/
.npm/
.nuget/
*.nvimlog
.pkg-cache/
.pki/
.python_history
.ssh/
.steam/
.steampath
.steampid
.terminfo/
.themes/
.texlive/
.thunderbird/
.tor-browser/
.var/
.vscode-oss/
.whatsdesk/
.yarnrc
.zoom/
Applications/
Calibre Library/
Documents/
Downloads/
Games
GOG Games/
Keyring
MATLAB Add-Ons/
Music/
OneDrive/
Pictures/
Public/
Templates/
Videos/
bin/
snap/
pandoc.out
java.log.*
.yarn/
.wget-hsts/
