.MATLABConnector/
.VFIOinput/
.Xauthority
.android/
.bash_history
.bash_logout
.cache/
.config/QtProject.conf
.config/altus/
.config/appimagelauncher.cfg
.config/autostart/
.config/borg/
.config/cef_user_data/
.config/chromium/
.config/coc/
.config/configstore/
.config/dconf/
.config/discover_overlay/
.config/kdeconnect/
.config/keepassxc/
.config/libfm/
.config/libreoffice/
.config/menus/
.config/nvim/.netrwhist

.config/onedrive/*
!.config/onedrive/config

.config/oomox/
.config/pavucontrol.ini
.config/pcmanfm-qt/
.config/pipewire-media-session/
.config/pulse/
.config/ranger/plugins/
.config/systemd/
.config/thefuck/
.config/transmission/
.config/unity3d/
.config/vlc/
.config/whatsdesk/
.config/xarchiver/
.config/xfce4/
.config/xpad/
.git-credentials
.gitconfig
.gnupg/
.java/

.local/*
!.local/share/nvim/site/autoload/plug.vim

.matlab/

.mozilla/*
!.mozilla/firefox
.mozilla/firefox/*
!.mozilla/firefox/sd1hctw3.default-release
.mozilla/firefox/sd1hctw3.default-release/*
!.mozilla/firefox/sd1hctw3.default-release/chrome

.npm/
.pki/
.python_history
.ssh/
.steam/
.steampath
.steampid
.terminfo/
.thunderbird/
.tor-browser/
.var/
.whatsdesk/
Applications/
Documents
Downloads
Games
Keyring
MATLAB Add-Ons/
Music
OneDrive/
Pictures
Public
Templates
Videos
bin/
